body{
	background: url("../images/playingfield.png");
	background-size: cover;
	
}
#playing-field{
	margin-top: 30px;
	background:rgba(245,245,245,.7);
}
#letters{
	min-height: 100px;
}
#reset{
	margin-bottom: 30px;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}