body{
	background: url("../images/playingfield.png");
	background-size: cover;
	
}
#playing-field{
	margin-top: 50px;
	background:rgba(245,245,245,.7);
}
#letters{
	min-height: 100px;
}
#reset{
	margin-bottom: 30px;
}